<launch>
<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <param name="scan_time" value="0.083"/>
         <param name="angle_increment" value="0.0083"/>
        <param name="time_increment" value="0.00011096244998"/>
        <param name="range_min" value="0.08"/>
        <param name="range_max" value="16"/>
        <remap from="cloud_in" to="corrected_pointcloud"/>
        <remap from="scan" to="scan_1"/>
         </node>


</launch>